[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
beautifulsoup4 = "*"
lxml = "*"
transmission-rpc = "*"
selenium = "*"
pyvirtualdisplay = "*"
ezgmail = "*"

[requires]
python_version = "3.8"
